In [1]:
import pyBigWig

In [3]:
bw = pyBigWig.open('../data/01_raw/DNase_seq_bigWig/ENCFF901GZH.bigWig')

In [39]:
import os
l = os.listdir('../data/01_raw/DNase_seq_bigWig/')
l = [x for x in l if x.endswith('.bigWig')]
l

['ENCFF291DOH.bigWig',
 'ENCFF352SET.bigWig',
 'ENCFF558DRT.bigWig',
 'ENCFF636YSC.bigWig',
 'ENCFF061JPV.bigWig',
 'ENCFF830TNF.bigWig',
 'ENCFF901GZH.bigWig',
 'ENCFF582ZRH.bigWig']

In [40]:
d = {name: pyBigWig.open(f'../data/01_raw/DNase_seq_bigWig/{name}') for name in l}
d

{'ENCFF291DOH.bigWig': <pyBigWig.bigWigFile at 0x7f05e81ee2d0>,
 'ENCFF352SET.bigWig': <pyBigWig.bigWigFile at 0x7f05e81ee720>,
 'ENCFF558DRT.bigWig': <pyBigWig.bigWigFile at 0x7f05e81eef30>,
 'ENCFF636YSC.bigWig': <pyBigWig.bigWigFile at 0x7f05e81eeae0>,
 'ENCFF061JPV.bigWig': <pyBigWig.bigWigFile at 0x7f05e81ee960>,
 'ENCFF830TNF.bigWig': <pyBigWig.bigWigFile at 0x7f05e81eed80>,
 'ENCFF901GZH.bigWig': <pyBigWig.bigWigFile at 0x7f05e81eea50>,
 'ENCFF582ZRH.bigWig': <pyBigWig.bigWigFile at 0x7f05e81eed20>}

In [45]:
import pandas as pd
pd.to_numeric(4, downcast='float')

AttributeError: 'int' object has no attribute 'dtype'

In [41]:
import pickle
pickle.dump(d, open('../data/01_raw/DNase_seq_bigWig/bigWig_dict.pkl', 'wb'))

TypeError: cannot pickle 'pyBigWig.bigWigFile' object

In [56]:
import numpy as np
a = bw.values('chr1', 235633, 235783)
a = np.array(a, dtype=np.float64)
a

array([0.0958935 , 0.0958935 , 0.0958935 , 0.0958935 , 0.0958935 ,
       0.0958935 , 0.0958935 , 0.0958935 , 0.0958935 , 0.0958935 ,
       0.0958935 , 0.0958935 , 0.119867  , 0.119867  , 0.119867  ,
       0.119867  , 0.119867  , 0.119867  , 0.119867  , 0.119867  ,
       0.119867  , 0.119867  , 0.119867  , 0.119867  , 0.119867  ,
       0.119867  , 0.119867  , 0.119867  , 0.119867  , 0.119867  ,
       0.119867  , 0.119867  , 0.21575999, 0.21575999, 0.21575999,
       0.21575999, 0.21575999, 0.21575999, 0.21575999, 0.21575999,
       0.21575999, 0.21575999, 0.21575999, 0.21575999, 0.21575999,
       0.21575999, 0.21575999, 0.21575999, 0.21575999, 0.21575999,
       0.21575999, 0.21575999, 0.26370701, 0.26370701, 0.26370701,
       0.26370701, 0.26370701, 0.26370701, 0.26370701, 0.26370701,
       0.26370701, 0.26370701, 0.26370701, 0.26370701, 0.26370701,
       0.26370701, 0.26370701, 0.26370701, 0.26370701, 0.26370701,
       0.26370701, 0.26370701, 0.26370701, 0.26370701, 0.26370701,
       0.26370701, 0.26370701, 0.26370701, 0.26370701, 0.26370701,
       0.26370701, 0.26370701, 0.26370701, 0.26370701, 0.26370701,
       0.26370701, 0.26370701, 0.26370701, 0.26370701, 0.26370701,
       0.26370701, 0.26370701, 0.23973399, 0.23973399, 0.23973399,
       0.23973399, 0.23973399, 0.23973399, 0.23973399, 0.23973399,
       0.23973399, 0.23973399, 0.23973399, 0.23973399, 0.23973399,
       0.23973399, 0.23973399, 0.23973399, 0.23973399, 0.23973399,
       0.23973399, 0.23973399, 0.191787  , 0.191787  , 0.191787  ,
       0.191787  , 0.191787  , 0.191787  , 0.191787  , 0.191787  ,
       0.191787  , 0.191787  , 0.191787  , 0.191787  , 0.191787  ,
       0.191787  , 0.191787  , 0.191787  , 0.191787  , 0.191787  ,
       0.191787  , 0.191787  , 0.191787  , 0.191787  , 0.191787  ,
       0.191787  , 0.191787  , 0.191787  , 0.191787  , 0.191787  ,
       0.191787  , 0.191787  , 0.191787  , 0.191787  , 0.191787  ,
       0.191787  , 0.191787  , 0.191787  , 0.191787  , 0.191787  ])

In [22]:
def trimm_intervals(intervals: tuple, start: int, end: int):
    """
    Trim intervals to the range [start, end].
    Args:
        intervals: tuple with intervals.
        start: start of the range.
        end: end of the range.
    Returns:
        trimmed intervals.
    """
    trimmed_intervals = []
    for interval in intervals:
        if interval[0] < start:
            interval = (start, interval[1], interval[2])
        if interval[1] > end:
            interval = (interval[0], end, interval[2])
        trimmed_intervals.append(interval)

    return tuple(trimmed_intervals)

In [23]:
trimm_intervals(a, 235633, 235783)

((235633, 235645, 0.0958935022354126),
 (235645, 235665, 0.1198669970035553),
 (235665, 235685, 0.2157599925994873),
 (235685, 235705, 0.2637070119380951),
 (235705, 235725, 0.2637070119380951),
 (235725, 235745, 0.2397339940071106),
 (235745, 235765, 0.1917870044708252),
 (235765, 235783, 0.1917870044708252))

In [52]:
t = ((235633, 235645, 0.0958935022354126),
 (235645, 235665, 0.1198669970035553),
 (235665, 235685, 0.2157599925994873),
 (235685, 235705, 0.2637070119380951),
 (235705, 235725, 0.2637070119380951),
 (235725, 235745, 0.2397339940071106),
 (235745, 235765, 0.1917870044708252),
 (235765, 235783, 0.1917870044708252))

# mean
sum([x[2]*(x[1]-x[0]) for x in t])/(235783-235633)

0.20329418897628784

In [6]:
import pandas as pd

In [24]:
df = pd.read_csv('../data/01_raw/HiC_loops_annotations/GSE63525_GM12878_primary+replicate_HiCCUPS_looplist.txt', sep='\t')
df = df[['chr1', 'x1', 'x2']]
f = lambda x: 'chr' + str(x)
df['chr1'] = df['chr1'].apply(f)
df.head()

    chr1         x1         x2
0  chr10  100225000  100230000
1  chr10  100225000  100230000
2  chr10  101190000  101195000
3  chr10  101190000  101200000
4  chr10  101600000  101605000

In [28]:
f1 = lambda x: bw.intervals(x['chr1'], x['x1'], x['x2'])
f2 = lambda x: trimm_intervals(x['intervals'], x['x1'], x['x2'])
df['intervals'] = df.apply(lambda x: bw.intervals(x['chr1'], x['x1'], x['x2']), axis=1)
df['intervals_trimmed'] = df.apply(lambda x: trimm_intervals(x['intervals'], x['x1'], x['x2']), axis=1)
df.head()

,chr1,x1,x2,intervals,intervals_trimmed
0,chr10,100225000,100230000,"((100224985, 100225005, 0.02397339977324009), ...","((100225000, 100225005, 0.02397339977324009), ..."
1,chr10,100225000,100230000,"((100224985, 100225005, 0.02397339977324009), ...","((100225000, 100225005, 0.02397339977324009), ..."
2,chr10,101190000,101195000,"((101189985, 101190005, 0.0958935022354126), (...","((101190000, 101190005, 0.0958935022354126), (..."
3,chr10,101190000,101200000,"((101189985, 101190005, 0.0958935022354126), (...","((101190000, 101190005, 0.0958935022354126), (..."
4,chr10,101600000,101605000,"((101599985, 101600005, 0.0), (101600005, 1016...","((101600000, 101600005, 0.0), (101600005, 1016..."